
body{
    background-color: #eee!important;
}

.container{
    margin-top: 100px;
    margin-bottom: 100px;
}
.form-control {
    width: 70%!important;
}
#para {
    border: 2px solid gray;
    padding: 8px;
    font-size: 25px;
    width: 168px;
    text-align: center;
    font-weight: 600;
    margin-left: 608px;
    margin-top: 7px;
    height: 56px;
    padding-top: 7px;
    color: #28a745;
}/*    color: #dc3545;
    color: #28a745;
*/

span {
    margin-left: 7px;
    font-size: 17px;
    font-weight: 400;
}
/*
#para {
    border: 2px solid gray;
    padding: 8px;
    font-size: 16px;
    width: 89px;
    text-align: center;
    font-weight: 400;
    margin-left: 688px;
    margin-top: 7px;
    height: 52px;
}*/